{% load static %}
 <!--We need a side menu-->
<style>
img {
  border-radius: 50%;
}
.mylogo {
      border-radius: 50%; 
}
</style>

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
 <!-- Brand -->
      <a class="d-flex p-2 col-example" href="/">
         <p class="mylogo">Fatima-Ecommerce</p> 
        {% comment %} <img src="{% static 'img/fatima.png' %}"  alt="Avatar"> {% endcomment %}
      </a>

     
        
        
            <ul class="nav white lighten-4 py-4">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><strong class="green-text"> Home </strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "shirt" %}"> <strong class="green-text" >Shirt</strong> </a>
        
                </li>

                <li class="nav-item">
                <a class="nav-link" href= " {% url 'menusearch' "pant" %}"> <strong class="green-text" >Pant</strong> </a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href= " {% url 'menusearch' "cosmetics" %}"> <strong class="green-text" >Cosmetics</strong> </a>
        
                </li>
                  <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "threepiece" %}"> <strong class="green-text" >Women</strong> </a>
        
                </li>
                  <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "computer" %}"> <strong class="green-text" >Computer</strong> </a>
        
                </li>
                  <li class="nav-item">
                   <a class="nav-link" href= " {% url 'menusearch' "medical" %}"> <strong class="green-text" >Medical</strong> </a>
        
                </li>
                 <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "electronic" %}"> <strong class="green-text" >Electronics</strong> </a>
        
                </li> <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "service" %}"> <strong class="green-text" >Service</strong> </a>
        
                </li>
                
                 <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "digital" %}"> <strong class="green-text" >Digital Marketing</strong> </a>
        
                </li>
                 <li class="nav-item">
                     <a class="nav-link" href= " {% url 'menusearch' "programing" %}"> <strong class="green-text" >IT Course</strong> </a>
        
                </li>
                   <li class="nav-item">
                       <a class="nav-link" href= " {% url 'about'  %}"> <strong class="green-text" >About US</strong> </a>
        
        
                </li>
            </ul>
          
  <div class="f8 b grow">
  
      <a class="nav-link" href= " {% url 'request-refund'  %}"> 
     Click Refund/Call  01553080223 
       </a> 
        
</div>


  
      
      
     
        

     

    
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
 


  
        </ul>

        <!-- Right -->
       <ul class="navbar-nav nav-flex-icons">
         Call US 01553080223 
        </ul> 


      </div>

    </div>
  </nav> 

