
{% extends "base.html" %}
{% load static %}
 <title>{% block head_title %}
 Product Page 
 {% endblock %}</title>
  {% block extra_head %}

  
	<style type="text/css">

		body{
			padding-top: 100px;
		}

		#content-wrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.column{
			width: 600px;
			padding: 10px;

		}

		#featured{
			max-width: 500px;
			max-height: 600px;
			object-fit: cover;
			cursor: pointer;
			border: 2px solid black;

		}



		.thumbnail{
			object-fit: cover;
			max-width: 180px;
			max-height: 100px;
			cursor: pointer;
			opacity: 0.5;
			margin: 5px;
			border: 2px solid black;

		}

		.thumbnail:hover{
			opacity:1;
		}

		.active{
			opacity: 1;
		}

		#slide-wrapper{
			max-width: 500px;
			display: flex;
			min-height: 100px;
			align-items: center;
		}

		#slider{
			width: 440px;
			display: flex;
			flex-wrap: nowrap;
			overflow-x: hidden;

		}

		#slider{
			width: 440px;
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;


		}

		#slider::-webkit-scrollbar {
		    width: 8px;

		}

		#slider::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

		}
		 
		#slider::-webkit-scrollbar-thumb {
		  background-color: #dede2e;
		  outline: 1px solid slategrey;
		   border-radius: 100px;

		}

		#slider::-webkit-scrollbar-thumb:hover{
		    background-color: #18b5ce;
		}

		

		.arrow{
			width: 30px;
			height: 30px;
			cursor: pointer;
			transition: .3s;
		}

		.arrow:hover{
			opacity: .5;
			width: 35px;
			height: 35px;
		}

		
	</style>
  {% endblock %}
{% block content %}

  {% comment %} <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

         <img id="myimage" src="{{object.image.url}}" class="img-fluid" alt="" width="300" height="240">
     
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>${{ object.price }}</del>
              </span>
              <span>${{ object.discount_price }}</span>
              {% else %}
              <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

            
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
           

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main> {% endcomment %}
 {{ object.photos.all   }}

<div id="content-wrapper">
		<div class="column">
			<img id="featured" class="grow" src="{{object.image.url}}">

			<div id="slide-wrapper">
				<img id="slideLeft" class="arrow" src="{% static 'img/arrow-left.png' %}">

				<div id="slider">
					{% for vimage in item.extraimage_set.all%}

				
				<img class="thumbnail" src="{{ vimage.imageURL }}">

					{% endfor %}
			
				</div>

				<img id="slideRight" class="arrow" src="{% static 'img/arrow-right.png' %}">
			</div>
		</div>

		<div class="column">
			 <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>${{ object.price }}</del>
              </span>
              <span>${{ object.discount_price }}</span>
              {% else %}
              <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

			{% comment %} <input value=1 type="number"> {% endcomment %}
		
			<a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>

		</div>
	</div>


{% endblock content %}

  {% block extra_scripts %}
  
<script type="text/javascript">
			let thumbnails = document.getElementsByClassName('thumbnail')
			let activeImages = document.getElementsByClassName('active')
			for (var i=0; i < thumbnails.length; i++){
				thumbnails[i].addEventListener('mouseover', function(){

					if (activeImages.length > 0){
						activeImages[0].classList.remove('active')
					}
				
					this.classList.add('active')
					document.getElementById('featured').src = this.src
				})


			}

			const buttonRight = document.getElementById('slideRight');
			const buttonLeft = document.getElementById('slideLeft');


			buttonRight.addEventListener('click', function(){
				document.getElementById('slider').scrollLeft += 180;
		    })



		    buttonLeft.addEventListener('click', function(){
		      document.getElementById('slider').scrollLeft -= 180;
		    })

	</script>

    {% endblock extra_scripts %}